.center {
  position: absolute;
  /* width: 100px;
  height: 50px; */
  top: 50%;
  /* left: 8%; */
  /* margin-left: -50px; 
  margin-top: -25px; */
}

img {
  width: 200px;
  height: 250px;
  position: absolute;
  top: -50%;
  margin-left: 10%;
}

a {
  margin: 11%;
}
a:hover {
  color: #000;
}

i {
  transition: 0.8s ease-out;
}
i:hover {
  transform: scale(1.1);
}
