.center {
  position: absolute;
  top: 40%;
}

img {
  width: 200px;
  height: 250px;
  position: absolute;
  top: -30%;
  margin-left: 10%;
}

a {
  margin: 11%;
}
a:hover {
  color: #000;
}

i {
  transition: 0.8s ease-out;
}
i:hover {
  transform: scale(1.1);
}
