.center {
  position: absolute;
  top: 40%;
  text-align: center;
}

a {
  margin: 11%;
}
a:hover {
  color: #000;
}

i {
  transition: 0.8s ease-out;
}
i:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 570px) {
  .center {
    padding: 10px;
  }
  i {
    font-size: 0.74em;
  }
  a {
    margin: 8%;
  }
}

@media screen and (max-width: 1000px) {
  i {
    font-size: 1.5em;
  }
}
