<div class='fullscreenDiv'>
    <div class="container">
        <div class="row center">
            <div class="col-md-6 ">
                <h5 class="text-center">About me</h5>
                <p>Hello! I'm Francisco París. I am the creator of this page. I am passionate
                        about JavaScript and I am doing the course of FrontEnd with Angular.</p>
                <a href="https://www.facebook.com/francisco.p.albero/">
                    <i class="fab fa-facebook fa-3x"></i>
                </a>
                <a href="https://www.instagram.com/franciscoparisalbero1/?hl=es">
                    <i class="fab fa-instagram fa-3x"></i>
                </a>
                <a href="https://twitter.com/FranciscoParisA">
                    <i class="fab fa-twitter fa-3x"></i>
                </a>
            </div>
            <div class="col-md-6">
                <img class="rounded-circle" src="https://res.cloudinary.com/dfb6ivozp/image/upload/v1645796235/Img_Francisco_avhq7e.jpg" alt="" width="300" height="300">
            </div>
        </div>
    </div>
    
</div>