<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Get the weather of the Barcelona city: &#x263C; &#x26C5; 	&#x26C8;
                <button class="btn btn-primary" (click)="getWeatherBcn()">getWeather</button>
            </p>  
            <div *ngIf="allFields != undefined" class="card" style="width: 32rem;">
                <div class="card-body">
                  <h5 class="card-title">Weather in {{allFields.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Description: {{allFields.weather[0].description}}</h6>
                  <p class="card-text">Latitude: {{allFields.coord.lat}}; Longitude: {{allFields.coord.lon}}</p>
                  <p class="card-text">Temperature: {{temp}}° C. Max: {{max}}° C / Min {{min}}° C </p>
                  <p class="card-text">Humidity: {{allFields.main.humidity}} %</p>
                </div>
            </div>
        </div>
    </div>
</div>

