

li button, p {
  color: white;
}
li button {
  font-size: 25px;
  padding-right: 0;  
}

.notAuth,
.auth {
  font-size: 25px;
  color:white;
}
img{
  margin: -16px -10px -16px -20px;
}

a{
  text-decoration: none;
}

.reg{
  margin-right: 10px;
}