select {
  width: 150px;
}

.stationByCode {
  font-size: 24px;
}

.textCenter {
  text-align: center !important;
}

@media screen and (min-width: 1000px) {
  .container {
    padding-top: 80px;
  }
}

.margin {
  margin-right: 20px;
}

.myPadding {
  padding-top: 40px;
}

p {
  font-size: 32px;
}

.myCard {
  text-align: center;
}
